@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  --font: "Inter Tight", sans-serif;
  --font-color: hsl(0, 0%, 95%);

  scroll-behavior: smooth;
  color: var(--font-color);
  font-family: var(--font);
  background-color: hsl(0, 0%, 5%);
}

@theme {
  --color-primary-100: hsl(38 87% 53%);
  --color-primary-200: hsl(38 87% 43%);
  --color-primary-300: hsl(38 87% 33%);

  --color-border: hsl(0 0% 45%);
  --color-font-100: hsl(0, 0%, 95%);
  --color-font-200: hsl(0, 0%, 80%);

  --color-background: hsl(0,0%,13%);

  --font-logo: "Caveat", cursive;
  --font-title: "Markazi Text", serif;
}

::selection {
  background-color: var(--color-primary-200);
  color: #ffffff;
}

::-moz-selection {
  background-color: var(--color-primary-200);
  color: #ffffff;
}

/* remove scroll bar */

/* ::-webkit-scrollbar {
  width: 0;         
  height: 0;          
  background: transparent; 
} */

/* html {
  scrollbar-width: none;  
} */

/* body {
  -ms-overflow-style: none; 
} */
